<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Integrate Odoo with WhatsApp</h2>
        <h3 class="oe_slogan">Send messages to your customers via WhatsApp messaging service
            <br/>Fully Automated System.
        </h3>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="main_screenshot.png">
        </div>
    </div>
</section>
<br/>
<br/>
<section class="oe_container oe_mt32">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Contact your WhatsApp contacts directly from Odoo</h2>
        <h3 class="oe_slogan">Easy way to send messages from Odoo to your customers via WhatsApp</h3>
        <div class="oe_demo oe_picture oe_screenshot">
            <img class='img-responsive' src="partner_form.png">
        </div>
    </div>
</section>
<br/>
<br/>
<section class="oe_container oe_mt32">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Send message to multiple contacts with attachments</h2>
        <div class="oe_span12">
            <p class="oe_mt32 oe_mb32 text-justify">Send WhatsApp message to as many contacts as you want, thanks to modified <code>many2many</code> widget.
            Furthermore you can attach multiple attachments with the message.</p>
            <div class="oe_demo oe_picture oe_screenshot">
                <img class='img-responsive' src="msg_wizard.png">
            </div>
        </div>
    </div>
</section>
<br/>
<br/>
<section class="oe_container oe_mt32">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Login to WhatsApp made easy</h2>
        <h3 class="oe_slogan">Just scan QR code from your mobile device and you are good to go</h3>
        <div  class="oe_span12">
            <p class="oe_mt32 oe_mb32 text-justify">If you don't know how to login to WhatsApp, just follow the instruction from <a href="https://faq.whatsapp.com/en/web/28080003">here</a>
            <br/>
            All users of odoo can login to their WhatsApp individually, 
                i.e. each Odoo user will have their own Session. They can Logout from general settings. 
                Also they have Logout option in their WhatsApp Mobile App.
            </p>
            <div class="oe_demo oe_picture oe_screenshot">
                <img class='img-responsive' src="qr_code_screen.png">
            </div>
        </div>
    </div>
</section>
<br/>
<br/>
<section class="oe_container oe_mt32">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Logout from WhatsApp made easy</h2>
        <div class="oe_span12">
            <p class="oe_mt32 oe_mb32 text-justify">There is an option in Configuration -> General Settings to Logout</p>
            <div class="oe_demo oe_picture oe_screenshot">
                <img class='img-responsive' src="logout.png">
            </div>
        </div>
    </div>
</section>
<br/>
<br/>
<section class="oe_container oe_mt32">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Requirements</h2>
        <div class="oe_span12">
            <p class="oe_mt32 oe_mb32">
                <strong>phonenumbers</strong> python library - <br/><code>sudo pip3 install phonenumbers</code>
    <br/><strong>selenium</strong> python library - <br/><code>sudo pip3 install selenium</code>
    <br/>
    <br/>
    <strong>Install Chromium or Google Chrome browser</strong> (Skip if already installed - Just update it)
    <br/><strong>Chromium</strong>
    <br><code>sudo apt install --assume-yes chromium-browser</code>
    <br/><strong>Google Chrome</strong>
    <br/><code>wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb</code>
    <br/><code>sudo dpkg -i google-chrome-stable_current_amd64.deb</code><br/>
    If any error occurs during Google Chrome Installation
    <br/>
    <code>sudo apt-get install -f</code>
    <br/>
    Give permissions to this module
    <br/>
    <code>sudo chmod -R 777 /path/to/module/whatsapp_integration</code>
    <br/>
    <br/>
    Note: Contact us if you find any difficulties in setup/installation.
            </p>
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h4 class="oe_slogan"> <a href="https://youtu.be/4wiCNkeMzfk" target="_blank" style="color: #FFFFFF !important; border-radius: 0; background-color: #f05c4e; border-color: #005ca7; padding: 15px; font-weight: bold;">
               <i class="fa fa-youtube"></i>
                Watch on YouTube
            </a></h4>
            <center>
        </center>
        </div>
    </div>
</section>

<section class="oe_container">
    <h2 class="oe_slogan" style="color:#875A7B;">Our other apps you may like!</h2>
    <div id="slides" class="row carousel slide mt64 mb32" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" style="min-height: 0px;">
                <div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="float: left;">
                   <a href="https://apps.odoo.com/apps/modules/13.0/whatsapp_sale_integration" target="_blank">
                       <div style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);border-radius: 10px;">
                           <img class="img img-responsive center-block" style="border-top-left-radius: 10px; width: 360px; height: 180px; border-top-right-radius: 10px;" src="whatsapp_sale_integration.png">
                           <h4 class="mt0" style="padding:6% 4%;text-align: center;white-space: nowrap;width: 100%;overflow: hidden;text-overflow: ellipsis;font-family: Roboto-medium;">
                                WhatsApp Sales Integration
                           </h4>
                       </div>
                   </a>
               </div>
                <div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="float: left;">
                   <a href="https://apps.odoo.com/apps/modules/13.0/whatsapp_delivery_integration" target="_blank">
                       <div style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);border-radius: 10px;">
                           <img class="img img-responsive center-block"
                                 style="border-top-left-radius: 10px; width: 360px; height: 180px; border-top-right-radius: 10px;"
                                 src="whatsapp_delivery_integration.png"/>
                           <h4 class="mt0" style="padding:6&#37; 4&#37;;text-align: center;white-space: nowrap;width: 100&#37;;overflow: hidden;text-overflow: ellipsis;font-family: Roboto-medium;">
                                WhatsApp Delivery Integration
                           </h4>
                       </div>
                   </a>
               </div>
               <div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="float: left;">
                   <a href="https://apps.odoo.com/apps/modules/13.0/whatsapp_invoice_integration" target="_blank">
                       <div style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);border-radius: 10px;">
                           <img class="img img-responsive center-block"
                                 style="border-top-left-radius: 10px; width: 360px; height: 180px; border-top-right-radius: 10px;"
                                 src="whatsapp_invoice_integration.png"/>
                           <h4 class="mt0" style="padding:6&#37; 4&#37;;text-align: center;white-space: nowrap;width: 100&#37;;overflow: hidden;text-overflow: ellipsis;font-family: Roboto-medium;">
                                WhatsApp Invoice Integration
                           </h4>
                       </div>
                   </a>
               </div>
            </div>
            <div class="carousel-item">
              <div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="float: left;">
                   <a href="https://apps.odoo.com/apps/modules/13.0/whatsapp_pos_integration" target="_blank">
                       <div style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);border-radius: 10px;">
                           <img class="img img-responsive center-block"
                                 style="border-top-left-radius: 10px; width: 360px; height: 180px; border-top-right-radius: 10px;"
                                 src="whatsapp_pos_integration.png"/>
                           <h4 class="mt0" style="padding:6&#37; 4&#37;;text-align: center;white-space: nowrap;width: 100&#37;;overflow: hidden;text-overflow: ellipsis;font-family: Roboto-medium;">
                                WhatsApp PoS Integration
                           </h4>
                       </div>
                   </a>
               </div>
                <div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="float: left;">
                   <a href="https://apps.odoo.com/apps/modules/13.0/whatsapp_purchase_integration" target="_blank">
                       <div style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);border-radius: 10px;">
                           <img class="img img-responsive center-block"
                                 style="border-top-left-radius: 10px; width: 360px; height: 180px; border-top-right-radius: 10px;"
                                 src="whatsapp_purchase_integration.png"/>
                           <h4 class="mt0" style="padding:6&#37; 4&#37;;text-align: center;white-space: nowrap;width: 100&#37;;overflow: hidden;text-overflow: ellipsis;font-family: Roboto-medium;">
                                WhatsApp Purchase Integration
                           </h4>
                       </div>
                   </a>
               </div>
               <div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="float: left;">
                   <a href="https://apps.odoo.com/apps/modules/13.0/whatsapp_payment_integration" target="_blank">
                       <div style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);border-radius: 10px;">
                           <img class="img img-responsive center-block"
                                 style="border-top-left-radius: 10px; width: 360px; height: 180px; border-top-right-radius: 10px;"
                                 src="whatsapp_payment_integration.png"/>
                           <h4 class="mt0" style="padding:6&#37; 4&#37;;text-align: center;white-space: nowrap;width: 100&#37;;overflow: hidden;text-overflow: ellipsis;font-family: Roboto-medium;">
                                WhatsApp Payments Integration
                           </h4>
                       </div>
                   </a>
               </div>
           </div>
        </div>
       <a class="carousel-control-prev" href="#slides" data-slide="prev" style="left:-25px;width: 35px;color: #000;">
           <span class="carousel-control-prev-icon"><i class="fa fa-chevron-left" style="font-size:24px"></i></span>
       </a>
       <a class="carousel-control-next" href="#slides" data-slide="next" style="right:-25px;width: 35px;color: #000;">
           <span class="carousel-control-next-icon"><i class="fa fa-chevron-right" style="font-size:24px"></i></span>
       </a>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan" style="color:#875A7B;">Free Support</h2>
            <h3 class="oe_slogan" style="font-size: 20px; color: #000000 !important;">Free support for 120 days for bugs and issues</h3>
            <p class="text-center">
                <a href="http://www.ascentsentrepreneurs.com" target="_blank" style="font-weight:bold; font-size:30px; color:#777 !important">Ascents<span style="color:#fdb00b; font-size:30px !important;">Entrepreneurs</span></a>
            </p>
            <p class="oe_slogan">
            Please contact us if you need customization/support for this module <a href="mailto:info@ascentsentrepreneurs.com">info@ascentsentrepreneurs.com</a>
            </p>
            <p class="text-center">
                <a class="btn btn-success mt8" title="Website" style="background-color: #777; color: #FFFFFF !important;" href="http://www.ascentsentrepreneurs.com" target="_blank"> Website </a>
                <a class="btn btn-success mt8" title="Website" style="background-color: #fdb00b; color: #FFFFFF !important;" href="mailto:info@ascentsentrepreneurs.com"> Support </a>
            </p>
        </div>
    </div>
</section>
